/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* ******
*************
******************** 
*********************************
******************************************
****************
******/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #e3e6e8;
}

header {
  background: #aed2de;
  margin: 5px 10px 0px 20px;
  margin-left: 20px;
  margin-right: 10px;
  width: 90%;
}

header .header-name {
  font-family: "Cardo", serif;
  font-size: 2em;
  text-decoration: none;
  color: rgb(71, 42, 42);
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

header nav {
  height: 20px;
  width: 100%;
  margin-bottom: 15px;
  display: inline-flex;
  /* background-color: blue; */
}

/* header .header-cases {
    font-family: "Cardo", serif;
    text-decoration: none;
    font-size: 2em;
    color: rgb(71, 42, 42);
  } */
header nav ul {
  margin: 0, auto;
  width: 100%;
  /* width: fit-content; */
  text-align: center;
  padding-top: 5px;
}
header nav ul li {
  display: inline;
  list-style: none;
  padding: 0 16px;
}
header nav ul a {
  font-family: "Cardo", serif;
  font-size: 1em;
  text-decoration: none;
  color: rgb(71, 42, 42);
}

header .header-cases {
  display: none;
}
main {
  height: 70%;
  width: 90%;
  display: block;
  /* background-color: blue; */
}
.container_body {
  background-color: #4a595e;
  width: 55%;
  display: inline-block;
  margin-top: 30px;
  margin-left: 5px;
  padding: 30px 5px;
}
.small {
  padding-left: 30%;
}
.small-est {
  padding-left: 80%;
}
.big {
  font-size: 4em;
  color: #aed2de;
  font-style: oblique;
  text-shadow: 2px 2px #913030;
}
.right_side {
  /* background-color: #e8cfc0; */
  width: 35%;
  float: right;
  margin-left: 0, auto;
  padding: 50px 0px 130px 30px;
  height: 100%;
}
.u_tube_icon {
  /* border: 1px solid red; */
}
.ig_icon {
  margin: 30px 0px 0px 0;
  padding: 5px 0px 5px 5px;
  /* border: 5px solid blue; */
}
